<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path, class: "text-color" %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: "text-color" %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path, class: "text-color" %></li>
  <li><%= link_to 'Sign up', new_user_registration_path, class: "text-color" %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path, class: "text-color" %></li>
   <!-- <img src="assets/Katathon.png" class="padding navbar-right" alt="Katathon"> -->
<% end %>
